@model List<Expense_Tracker.Models.Category>
@{
	//specifying the title of the page
	ViewData["Title"] = "Categories";
}

<h3>List of Categories</h3>
<table>
	<thead>
		<tr>
			<th>Icon</th>
			<th>Title</th>			
			<th>Type</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var category in Model)
		{
			<tr>
				@*font awesome uses the i class as a semantic placeholdeer for icons and that's why it's needed*@
				<td><i class="@category.Icon"></i></td>
				<td>@category.Title</td>
				<td>@category.Type</td>
				<td>
					@*here we can add edit and delete links*@

					<a asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a>
					<a asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a>
				</td>
			</tr>
		}

	</tbody>
</table>
